In [1]:
#import the pandas library
import os
import csv
import pandas as pd
import locale

In [2]:
#determine the file for data analysis or the csv path
file = "Resources/budget_data.csv"

In [3]:
# read the headers into an output called original_df to find what we are looking for
original_df = pd.read_csv(file)
original_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [4]:
# find the number of lines
numberOfMonths = len(original_df)
print("The number of months in the file is:")
print(numberOfMonths)

The number of months in the file is:
86

In [5]:
# repeat same thing with a different command line to show just one column 
# this does not need to be in the main py file
original_df["Profit/Losses"].head()

0    1088983
1    -354534
2     276622
3    -728133
4     852993
Name: Profit/Losses, dtype: int64

In [6]:
# Calculate the net amount of profit/losses. format to $ - found code on stack abuse
# this is one of the questions to answer and need to be placed in the main py file
total = original_df["Profit/Losses"].sum()
print("The net total amount of Profit/Losses over the entire period was:")
total
locale.setlocale(locale.LC_ALL, '')
print(locale.currency(total, grouping=True))

The net total amount of Profit/Losses over the entire period was:
$22,564,198.00

In [7]:
# Calculate the average amounf of profit/losses. format to $ - found code on stack abuse
# this does not need to be in the main py file
change = original_df["Profit/Losses"].mean()
print("The averaged amount of Profit/Losses over the entire period was:")
change
locale.setlocale(locale.LC_ALL, '')
print(locale.currency(change, grouping=True))

The averaged amount of Profit/Losses over the entire period was:
$262,374.40

In [8]:
# create a new dataframe to get the information requested. 

#create a dictionary

d = {"Data":['Jan-10','Feb-10','Mar-10'],"Profit/Losses":[1088983,-354534,276622]}

#creating a DataFrame
df = pd.DataFrame(d)

#Display original DataFrame
print("Original DataFrame\n", df, "\n")

#Calculating difference
df["Difference"] = df["Profit/Losses"].diff()
print (df)

Original DataFrame
      Data  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622

     Data  Profit/Losses  Difference
0  Jan-10        1088983         NaN
1  Feb-10        -354534  -1443517.0
2  Mar-10         276622    631156.0

In [9]:
# new dataframe worked. Now get the average results for this new column
change2 = df["Difference"].mean()
print("The averaged amount of Profit/Losses over the entire period was:")
change2
locale.setlocale(locale.LC_ALL, '')
print(locale.currency(change2, grouping=True))

The averaged amount of Profit/Losses over the entire period was:
-$406,180.50

In [13]:
# then add greatest increase in profits
df = pd.DataFrame(d)
maxValues = df[["Data","Profit/Losses"]].max()

print("The greatest increase on Profit/Losses over the entire period was:")

maxValues
locale.setlocale(locale.LC_ALL, '')
print(locale.currency(maxValues, grouping=True))

The greatest increase on Profit/Losses over the entire period was:

TypeError: bad operand type for abs(): 'str'

In [ ]:
# then add greatest decrease in profits
df = pd.DataFrame(d)
minValues = df["Profit/Losses"].min()
print("The greatest decrease on Profit/Losses over the entire period was:")
minValues
locale.setlocale(locale.LC_ALL, '')
print(locale.currency(minValues, grouping=True))