In [1]:
#import the pandas library
import os
import csv
import pandas as pd
import locale

In [2]:
#determine the file for data analysis or the csv path
file = "Resources/budget_data.csv"

In [3]:
# read the headers to find what we are looking for
original_df = pd.read_csv(file)
original_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [4]:
# find the number of lines
numberOfMonths = len(original_df)
print("The number of months in the file is:")
print(numberOfMonths)

The number of months in the file is:
86

In [5]:
original_df["Profit/Losses"].head()

0    1088983
1    -354534
2     276622
3    -728133
4     852993
Name: Profit/Losses, dtype: int64

In [6]:
# Calculate the net amount of profit/losses. format to $ - found code on stack abuse
total = original_df["Profit/Losses"].sum()
print("The net total amount of Profit/Losses over the entire period is:")
total
locale.setlocale(locale.LC_ALL, '')
print(locale.currency(total, grouping=True))

The net total amount of Profit/Losses over the entire period is:
$22,564,198.00

In [7]:
# Calculate the average amounf of profit/losses. format to $ - found code on stack abuse
change = original_df["Profit/Losses"].mean()
print("The averaged amount of Profit/Losses over the entire period is:")
change
locale.setlocale(locale.LC_ALL, '')
print(locale.currency(change, grouping=True))

The averaged amount of Profit/Losses over the entire period is:
$262,374.40

In [ ]:
# Use a for to get the information requested. 
#Changes in Profit and Losses, greatest increase & decrease in profits